
$heading: 'Ubuntu', sans-serif;
$normal: 'Lora', serif;

$purp: #A593E0;
$tan: #E0E3DA;
$light: #FFFFF3;
$dark: #566270;

$mobilebreak: 940px;

/*
Seriously... Don't look at this... I can make a page look decent, but I
don't know how to make CSS look decent for shit.
*/

html,
body {
  height: 100vh;
  width: 100vw;
}

#landing {
  height: 85vh;
  background: url('../img/splash.jpg') no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,243, 0.25);

    > ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: inline-block;
        padding: 20px;
        font-family: monospace;

        a {
          color: $light;
          text-decoration: none;

          &:hover {
            color: $dark;
          }
        }

        @media screen and (max-width: $mobilebreak) {
            font-size: 12px;
            padding: 20px 10px;
        }
      }
    }
  }

  #name {
    font-family: $heading;
    font-size: 36px;
    color: $tan;
    text-align: center;
    padding: 25px 75px;
    background: rgba(86, 98, 112, 0.45);
    border: 5px solid $light;
    -webkit-transition: font-size 0.25s ease-in;
    transition: font-size 0.25s ease-in;

    span {
      margin-top: 5px;
      padding: 5px;
      border-top: 1px solid $purp;
      display: block;
      font-size: 18px;

      @media screen and (max-width: $mobilebreak) {
        font-size: 12px;
      }
    }

    @media screen and (max-width: $mobilebreak) {
      font-size: 24px;
    }
  }
}

.content {
  width: 1024px;
  max-width: 90%;
  margin: 0 auto;
}

#aboutme {
  background-color: $tan;
  margin: 0 auto;
  padding: 25px;
  .content {
    min-height: 300px;
  }

  #me {
    width: 25%;
    float: left;

    img {
      margin-top: 15px;
      border: 5px solid $light;
    }

    @media screen and (max-width: $mobilebreak) {
      width: 100%;
      float: none;
      padding: 0;

      img {
        width: 200px;
        height: 200px;
        display: block;
        margin: 0 auto;
      }
    }
  }

  #blurb {
    width: 75%;
    float: right;
    font-family: $normal;
    color: $dark;

    h1 {
      font-family: $heading;
      font-weight: 300;
      text-transform: uppercase;
      border-left: 5px solid $purp;
      padding-left: 5px;
    }

    p, h1 {
      margin-left: 75px;
    }

    @media screen and (max-width: $mobilebreak) {
      width: 100%;
      float: none;
      h1 {
        margin-top: 24px;
        font-size: 18px;
      }
      p, h1 {
        margin-left: 0;
      }
    }
  }
}

#portfolio {
  background-color: $light;
  font-family: $normal;
  color: $dark;

  .content {
    min-height: 50vh;

    .carousel {

      > span {
        display: block;
        padding: 15px 0;

        h1 {
          font-family: $heading;
          font-weight: 300;
          text-transform: uppercase;
          border-left: 5px solid $purp;
          padding-left: 5px;
          margin: 0;
        }
      }

      ul {
        display: inline-block;
        list-style: none;
        padding: 20px 0;
        margin: 0;

        li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          float: left;
          width: calc((100% / 3) - 10px);
          height: 250px;
          text-align: center;
          margin: 5px;
          background-color: $tan;

          a,
          a:visited,
          a:focus {
            display: block;
            color: $dark;
            text-decoration: none;

            > span {
              font-family: $heading;
              border-bottom: 1px solid $purp;
            }

            > div {
              padding-top: 5px;
              font-size: 12px;
              width: 85%;
              margin: 5px auto 0;
            }

            &:hover {
              color: $purp;
            }
          }

        }
        @media screen and (max-width: $mobilebreak) {
          display: inline-block;
          li {
            width: calc(100% - 10px);
            height: 125px;
          }
        }
      }
    }
  }



}

#contact {
  background-color: $dark;

  .content {
    min-height: 100px;
    text-align: right;
    padding: 20px;

    h1 {
      margin: 0;
      font-family: $heading;
      font-weight: 300;
      text-transform: uppercase;
      color: $tan;
      padding-right: 5px;
      border-right: 5px solid $purp;
    }

    ul {
      padding: 0;
      float: right;
      list-style: none;
    }

    ul li {
      display: inline-block;
      padding: 10px;

      a i:hover {
        color: $purp;
      }
    }

    .fa {
      color: $tan;
    }
  }
}

@import 'fonts';
