
$heading: 'Ubuntu', sans-serif;
$normal: 'Lora', serif;

$purp: #A593E0;
$tan: #E0E3DA;
$light: #FFFFF3;
$dark: #566270;

$mobilebreak: 940px;

/*
Seriously... Don't look at this... I can make a page look decent, but I
don't know how to make CSS look decent for shit.
*/

html,
body {
  height: 100vh;
  width: 100vw;
}

#landing {
  height: 85vh;
  background: url('../img/splash.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  nav {
    position: absolute;
    top: 0;
    width: 95vw;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,243, 0.25);

    > ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: inline-block;
        padding: 20px;
        font-family: monospace;

        a {
          color: $light;
          text-decoration: none;

          &:hover {
            color: $dark;
          }
        }

        @media screen and (max-width: $mobilebreak) {
            font-size: 12px;
            padding: 20px 10px;
        }
      }
    }
  }

  #name {
    font-family: $heading;
    font-size: 36px;
    color: $tan;
    text-align: center;
    padding: 25px 75px;
    background: rgba(86, 98, 112, 0.45);
    border: 5px solid $light;
    transition: font-size 0.25s ease-in;

    span {
      margin-top: 5px;
      padding: 5px;
      border-top: 1px solid $purp;
      display: block;
      font-size: 18px;

      @media screen and (max-width: $mobilebreak) {
        font-size: 12px;
      }
    }

    @media screen and (max-width: $mobilebreak) {
      font-size: 24px;
    }
  }
}

.content {
  width: 1024px;
  max-width: 90%;
  margin: 0 auto;
}

#aboutme {
  background-color: $tan;
  margin: 0 auto;
  padding: 25px;
  .content {
    min-height: 33vh;
  }

  #me {
    width: 25%;
    float: left;

    img {
      margin-top: 15px;
      width: 250px;
      border: 5px solid $light;
    }

    @media screen and (max-width: $mobilebreak) {
      width: 100%;
      float: none;
      padding: 0;

      img {
        width: 200px;
        display: block;
        margin: 0 auto;
      }
    }
  }

  #blurb {
    width: 75%;
    float: right;
    font-family: $normal;
    color: $dark;

    h1 {
      font-family: $heading;
      font-weight: 300;
      text-transform: uppercase;
      border-left: 5px solid $purp;
      padding-left: 5px;
    }

    p, h1 {
      margin-left: 75px;
    }

    @media screen and (max-width: $mobilebreak) {
      width: 100%;
      float: none;
      h1 {
        margin-top: 24px;
        font-size: 18px;
      }
      p, h1 {
        margin-left: 0;
      }
    }
  }
}

#contact {
  background-color: $dark;

  .content {
    min-height: 33vh;
    text-align: center;

    h1 {
      margin: 0;
      font-family: $heading;
      font-weight: 300;
      text-transform: uppercase;
      color: $tan;
      padding-top: 20px;
    }

    ul {
      padding: 0;
      list-style: none;
      padding: 25px;
    }

    ul li {
      display: inline-block;
      padding: 50px;

      @media screen and (max-width: $mobilebreak) {
        padding: 40px;
      }

      a i:hover {
        color: $purp;
      }
    }

    .fa {
      color: $tan;
    }
  }
}

@import 'fonts';
