---
---
$accent-color: #A593E0;
$medium-color: #E0E3DA;
$light-color: #FFFFF3;
$dark-color: #566270;


$font-color: $dark-color;

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';


* {
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
  font-weight: lighter;
}


html,
body {
  margin: 0;
  padding: 0;
  background-color: $medium-color;
  overflow: hidden;
}

p {
  color: $font-color;
  font-size: 16px;
  #{$a-tags} {
    color: $dark-color;
    font-weight: bold;
    text-decoration: none;
  }

  #{$a-tags-hover} {
    color: $accent-color;
  }
}

.navbar {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 50px;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;

  .contents {
    color: $dark-color;
    line-height: 30px;
    padding: 10px 15px;

    #{$a-tags} {
      color: $dark-color;
      text-decoration: none;
    }

    #{$a-tags-hover} {
      color: $accent-color;
    }

    .brand {
      float: left;
    }

    .links {
      float: right;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          padding-left: 10px;
        }
      }
    }
  }
}

.landing {
  height: 100vh;

  header {
    height: 450px;
    background-color: white;
    -webkit-clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 3vw),
      0 100%
    );
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 3vw),
      0 100%
    );

    .image {
      margin: 0 auto;
      max-width: 300px;
      padding: 50px;

      .profile {
        width: 100%;
        border-radius: 50%;
      }
    }
  }

  .about {
    padding: 50px 5px;
    margin: 0 auto;
    max-width: 1048px;
    width: 80vw;
  }


}
